singularity {
    enabled = true
    autoMounts = true
}


process {
    executor = 'local'

    withLabel: crisprcasfinder {
        container = "bneron/crispr:latest"
        cpus = 1
        maxForks = 10
    }

    withLabel: taxonkit {
        container = "/export/home/iferres/Escritorio/nextflow/CSI_nf/containers/taxonkit.sif"
    }

    withLabel: blastn { 
        cpus = 2
        maxForks = 10
    }
}