singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /mnt/cive/ncbi"
}


process {
    executor = 'local'

    withLabel: crisprcasfinder {
        container = "bneron/crispr:latest"
        cpus = 1
        maxForks = 10
    }

    withLabel: taxonkit {
        container = "/mnt/cive/nacho/singularity/taxonkit.sif"
        maxForks = 10
    }

    withLabel: blastn { 
        cpus = 2
        maxForks = 10
    }
}